// --------------------------- Parameters -------------------------------------
params {
  // Required parameters
  sra          = null
  uniprot_db   = null
  taxdump      = null

  // Optional parameters
  help        = false
  version     = '0.1.0'
  outdir      = 'output'
}


// ---------------------------- Containers ------------------------------------
process {
  errorStrategy = 'ignore'
  maxRetries    = 1
  maxErrors     = -1

  // shell = ['/bin/bash', '-euo', 'pipefail']

  withName: DOWNLOAD_SRA_METADATA {
    container = "quay.io/asuq1617/nf-sra_screen_iseq:${params.version}"
    cpus   = { Math.min( 8 * task.attempt, params.max_cpus as int ) }
    memory = { [ 4.GB  * task.attempt,  params.max_memory ].min() }
    time   = { [ 1.h * task.attempt, params.max_time ].min() }
  }

  withName: DOWNLOAD_SRR {
    container = "quay.io/asuq1617/nf-sra_screen_iseq:${params.version}"
    cpus   = { Math.min( 8 * task.attempt, params.max_cpus as int ) }
    memory = { [ 4.GB  * task.attempt,  params.max_memory ].min() }
    time   = { [ 4.h * task.attempt, params.max_time ].min() }
  }

  withName: METASPADES {
    container = "quay.io/asuq1617/nf-sra_screen_metaspades:${params.version}"
    cpus   = { Math.min( 128 * task.attempt, params.max_cpus as int ) }
    memory = { [ 500.GB  * task.attempt,  params.max_memory ].min() }
    time   = { [ 96.h * task.attempt, params.max_time ].min() }
  }

  withName: METAFLYE_NANO {
    container = "quay.io/asuq1617/nf-sra_screen_metaflye:${params.version}"
    cpus   = { Math.min( 128 * task.attempt, params.max_cpus as int ) }
    memory = { [ 500.GB  * task.attempt,  params.max_memory ].min() }
    time   = { [ 96.h * task.attempt, params.max_time ].min() }
  }

  withName: METAFLYE_PACBIO {
    container = "quay.io/asuq1617/nf-sra_screen_metaflye:${params.version}"
    cpus   = { Math.min( 128 * task.attempt, params.max_cpus as int ) }
    memory = { [ 500.GB  * task.attempt,  params.max_memory ].min() }
    time   = { [ 96.h * task.attempt, params.max_time ].min() }
  }

  withName: HIFIASM_META {
    container = "quay.io/asuq1617/nf-sra_screen_hifiasmmeta:${params.version}"
    cpus   = { Math.min( 128 * task.attempt, params.max_cpus as int ) }
    memory = { [ 500.GB  * task.attempt,  params.max_memory ].min() }
    time   = { [ 96.h * task.attempt, params.max_time ].min() }
  }

  withName: DIAMOND {
    container = "quay.io/biocontainers/diamond:2.1.13--h13889ed_0"
    cpus   = { Math.min( 128 * task.attempt, params.max_cpus as int ) }
    memory = { [ 500.GB  * task.attempt,  params.max_memory ].min() }
    time   = { [ 96.h * task.attempt, params.max_time ].min() }
  }
}


// --------------------------- Singularity engine -----------------------------
singularity {
  autoMounts  = true
  cacheDir    = "${baseDir}/.singularity-cache"
  pullTimeout = '100m'
  runOptions  = '--cleanenv'
}


// ------------------------------ Reports -------------------------------------
timeline {
  enabled   = true
  file      = "execution-reports/timeline.html"
  overwrite = true
}

report {
  enabled   = true
  file      = "execution-reports/report.html"
  overwrite = true
}

trace {
  enabled   = true
  file      = "execution-reports/trace.txt"
  overwrite = true
}


// ------------------------------ Misc ----------------------------------------
workDir = "work"
// cleanup = true


// ------------------------------ Profiles ------------------------------------
profiles {
  oist {
    includeConfig "${projectDir}/conf/oist.config"
  }

  slurm {
    process.executor = 'slurm'
    singularity.enabled = true
    executor.queueSize = 2000
  }

  local {
    process.executor = 'local'
    docker.enabled = true
    params.max_cpus    = 8
    params.max_memory  = 20.GB
    params.max_time    = 24.h
    executor.queueSize = 1
  }

  debug {
    executor.queueSize = 10
    docker.enabled = true
    trace.fields = 'task_id,process,tag,status,hash,cpus,memory,time,realtime,exit,attempt'
  }

  test {
  }
}