// --------------------------- Parameters -------------------------------------
params {
  // Required parameters
  sra           = null
  fastq_tsv     = null
  taxdump       = null
  uniprot_db    = null

  // Optional parameters
  taxa          = null
  gtdb_ncbi_map = null
  sandpiper_db  = null
  singlem_db    = null
  binning       = false

  // Misc
  help        = false
  version     = '0.3.0'
  outdir      = 'output'
  max_retries = 3

  // Resource parameters
  max_cpus    = 4
  max_memory  = 8.GB
  max_time    = 24.h
}

// -=---------------=---------- Environment -----------------------------------
manifest {
  nextflowVersion = '25.04.8'
}

plugins {
  id 'nf-boost@~0.6.0'
}

boost {
  cleanup = 'v2'
  cleanupInterval = '60s'
}

workDir = "work"
cleanup = true

// ---------------------------- Containers ------------------------------------
process {
  errorStrategy = { task.attempt <= params.max_retries ? 'retry' : 'ignore' }
  maxRetries    = params.max_retries
  maxErrors     = -1

  // shell = ['/bin/bash', '-euo', 'pipefail']

  withLabel: assembly {
    maxForks = 10
  }

  withLabel: binning {
    maxForks = 10
  }

  withName: VALIDATE_TAXA {
    errorStrategy = 'terminate'
    container = "quay.io/asuq1617/nf-sra_screen_taxa:${params.version}"
    queue  = 'short'
    cpus   = { Math.min( 1 * task.attempt, params.max_cpus as int ) }
    memory = { [ 4.GB * task.attempt, params.max_memory ].min() }
    time   = { [ 10.min * task.attempt, params.max_time ].min() }
  }

  withName: DOWNLOAD_SRA_METADATA {
    container = "quay.io/asuq1617/iseq:1.9.7"
    queue  = 'short'
    cpus   = { Math.min( 1 * task.attempt, params.max_cpus as int ) }
    memory = { [ 4.GB * task.attempt, params.max_memory ].min() }
    time   = { [ 1.h * task.attempt, params.max_time ].min() }
  }

  withName: SANDPIPER {
    container = "quay.io/asuq1617/singlem:0.20.3"
    queue  = 'short'
    cpus   = { Math.min( 1 * task.attempt, params.max_cpus as int ) }
    memory = { [ 4.GB * task.attempt, params.max_memory ].min() }
    time   = { [ 1.h * task.attempt, params.max_time ].min() }
  }

  withName: DOWNLOAD_SRR {
    container = "quay.io/asuq1617/iseq:1.9.8"
    cpus   = { Math.min( 4, params.max_cpus as int ) }
    memory = { [ 32.GB * task.attempt, params.max_memory ].min() }
    time   = { [ 4.h * task.attempt, params.max_time ].min() }
  }

  withName: SINGLEM {
    container = "quay.io/asuq1617/singlem:0.20.3"
    cpus   = { Math.min( 32 * task.attempt, params.max_cpus as int ) }
    memory = { [ 32.GB * task.attempt, params.max_memory ].min() }
    time   = { [ 2.h * task.attempt, params.max_time ].min() }
  }

  withName: METASPADES {
    container = "quay.io/asuq1617/nf-sra_screen_metaspades:${params.version}"
    queue  = { task.attempt < 3 ? 'compute' : 'largemem'}
    cpus   = { task.attempt < 3 ? Math.min( 128, params.max_cpus as int ) : Math.min( 36, params.max_cpus as int )}
    memory = { task.attempt < 3 ? [ 500.GB ,  params.max_memory ].min() : [ 750.GB ,  params.max_memory ].min()}
    time   = { task.attempt < 3 ? [ 96.h, params.max_time ].min() : [ 336.h, params.max_time ].min()}
  }

  withName: METAFLYE_NANO {
    container = "quay.io/asuq1617/nf-sra_screen_metaflye:${params.version}"
    queue  = { task.attempt < 3 ? 'compute' : 'largemem'}
    cpus   = { task.attempt < 3 ? Math.min( 128, params.max_cpus as int ) : Math.min( 36, params.max_cpus as int )}
    memory = { task.attempt < 3 ? [ 500.GB, params.max_memory ].min() : [ 750.GB, params.max_memory ].min()}
    time   = { task.attempt < 3 ? [ 96.h, params.max_time ].min() : [ 336.h, params.max_time ].min()}
  }

  withName: METAFLYE_PACBIO {
    container = "quay.io/asuq1617/nf-sra_screen_metaflye:${params.version}"
    queue  = { task.attempt < 3 ? 'compute' : 'largemem'}
    cpus   = { task.attempt < 3 ? Math.min( 128, params.max_cpus as int ) : Math.min( 36, params.max_cpus as int )}
    memory = { task.attempt < 3 ? [ 500.GB, params.max_memory ].min() : [ 750.GB, params.max_memory ].min()}
    time   = { task.attempt < 3 ? [ 96.h, params.max_time ].min() : [ 336.h, params.max_time ].min()}
  }

  withName: MYLOASM {
    container = "quay.io/asuq1617/nf-sra_screen_myloasm:${params.version}"
    queue  = { task.attempt < 3 ? 'compute' : 'largemem'}
    cpus   = { task.attempt < 3 ? Math.min( 128, params.max_cpus as int ) : Math.min( 36, params.max_cpus as int )}
    memory = { task.attempt < 3 ? [ 500.GB, params.max_memory ].min() : [ 750.GB, params.max_memory ].min()}
    time   = { task.attempt < 3 ? [ 96.h, params.max_time ].min() : [ 336.h, params.max_time ].min()}
  }

  withName: DIAMOND {
    container = "quay.io/biocontainers/diamond:2.1.13--h13889ed_0"
    queue  = { task.attempt < 3 ? 'compute' : 'largemem'}
    cpus   = { task.attempt < 3 ? Math.min( 128, params.max_cpus as int ) : Math.min( 36, params.max_cpus as int )}
    memory = { task.attempt < 3 ? [ 500.GB, params.max_memory ].min() : [ 750.GB, params.max_memory ].min()}
    time   = { task.attempt < 3 ? [ 96.h, params.max_time ].min() : [ 336.h, params.max_time ].min()}
  }

  withName: BLOBTOOLS {
    container = "docker.io/genomehubs/blobtoolkit:4.4.6"
    queue = 'short'
    cpus   = { Math.min( 16, params.max_cpus as int ) }
    memory = { [ 50.GB, params.max_memory ].min() }
    time   = { [ 2.h, params.max_time ].min() }
  }

  withName: EXTRACT_TAXA {
    container = "quay.io/asuq1617/nf-sra_screen_taxa:${params.version}"
    queue  = 'short'
    cpus   = { Math.min( 1, params.max_cpus as int ) }
    memory = { [ 4.GB * task.attempt, params.max_memory ].min() }
    time   = { [ 1.h * task.attempt, params.max_time ].min() }
  }

  withName: METABAT {
    container = "quay.io/biocontainers/metabat2:2.17--hd498684_0"
    cpus   = { Math.min( 128, params.max_cpus as int ) }
    memory = { [ 500.GB, params.max_memory ].min() }
    time   = { [ 96.h, params.max_time ].min() }
  }

  // withName: COMEBIN {
  //   container = "quay.io/biocontainers/comebin:1.0.4--hdfd78af_0"
  //   cpus   = { Math.min( 128, params.max_cpus as int ) }
  //   memory = { [ 500.GB, params.max_memory ].min() }
  //   time   = { [ 96.h, params.max_time ].min() }
  // }

  withName: SEMIBIN {
    container = "quay.io/biocontainers/semibin:2.2.0--pyhdfd78af_0"
    cpus   = { Math.min( 128, params.max_cpus as int ) }
    memory = { [ 500.GB, params.max_memory ].min() }
    time   = { [ 96.h, params.max_time ].min() }
  }

  withName: ROSELLA {
    container = "quay.io/asuq1617/rosella:0.5.4"
    cpus   = { Math.min( 128, params.max_cpus as int ) }
    memory = { [ 500.GB, params.max_memory ].min() }
    time   = { [ 96.h, params.max_time ].min() }
  }

  withName: DASTOOL {
    container = "quay.io/biocontainers/das_tool:1.1.7--r44hdfd78af_1"
    cpus   = { Math.min( 128, params.max_cpus as int ) }
    memory = { [ 500.GB, params.max_memory ].min() }
    time   = { [ 96.h, params.max_time ].min() }
  }

  withName: CREATE_EMPTY_SUMMARY {
    container = "quay.io/asuq1617/nf-sra_screen_taxa:${params.version}"
    executor = 'local'
    cpus   = { Math.min( 1, params.max_cpus as int ) }
    memory = { [ 4.GB * task.attempt, params.max_memory ].min() }
    time   = { [ 1.h * task.attempt, params.max_time ].min() }
  }

  withName: BINNING_ERROR_SUMMARY {
    container = "quay.io/asuq1617/nf-sra_screen_taxa:${params.version}"
    executor = 'local'
    cpus   = { Math.min( 1, params.max_cpus as int ) }
    memory = { [ 4.GB * task.attempt, params.max_memory ].min() }
    time   = { [ 1.h * task.attempt, params.max_time ].min() }
  }

  withName: APPEND_SUMMARY {
    container = "quay.io/asuq1617/nf-sra_screen_taxa:${params.version}"
    executor = 'local'
    cpus   = { Math.min( 1, params.max_cpus as int ) }
    memory = { [ 4.GB * task.attempt, params.max_memory ].min() }
    time   = { [ 1.h * task.attempt, params.max_time ].min() }
  }
}


// --------------------------- Singularity engine -----------------------------
singularity {
  autoMounts  = true
  cacheDir    = "${baseDir}/.singularity-cache"
  pullTimeout = '100m'
  runOptions  = '--cleanenv'
}


// ------------------------------ Reports -------------------------------------
timeline {
  enabled   = true
  file      = "execution-reports/timeline.html"
  overwrite = true
}

report {
  enabled   = true
  file      = "execution-reports/report.html"
  overwrite = true
}

trace {
  enabled   = true
  file      = "execution-reports/trace.tsv"
  overwrite = true
}

// ------------------------------ Profiles ------------------------------------
profiles {
  oist {
    includeConfig "${projectDir}/conf/oist.config"
  }

  slurm {
    process.executor = 'slurm'
    singularity.enabled = true
    executor.queueSize = 2000
    params.max_cpus    = 16
    params.max_memory  = 32.GB
    params.max_time    = 24.h
  }

  local {
    process.executor = 'local'
    docker.enabled = true
    executor.queueSize = 4
    params.max_cpus    = 8
    params.max_memory  = 16.GB
    params.max_time    = 24.h
  }

  debug {
    docker.enabled = true
    trace.fields = 'task_id,process,tag,status,hash,cpus,memory,time,realtime,exit,attempt'
    executor.queueSize = 1
    params.max_cpus    = 4
    params.max_memory  = 8.GB
    params.max_time    = 24.h
  }

  test {
  }
}
