includeConfig "${projectDir}/external/nf-helper/conf/sites/gwdg.config"

profiles {
    gwdg {
        process {
            withName: 'DOWNLOAD_SRA_METADATA|RESOLVE_SRR_METADATA|DOWNLOAD_SRR' {
                clusterOptions = {
                    params.gwdg_cluster_options(true, params.slurm_cluster_options)
                }
                beforeScript = {
                    params.gwdg_before_script(task.attempt as int, true, params.gwdg_proxy_url)
                }
            }
        }
    }
}
