includeConfig "${projectDir}/external/nf-helper/conf/sites/gwdg.config"

profiles {
    gwdg {
        process {
            withName: 'DOWNLOAD_SRA_METADATA|RESOLVE_SRR_METADATA|DOWNLOAD_SRR' {
                clusterOptions = {
                    [
                        '--export=ALL',
                        '-C "ssd&inet"',
                    ]
                        .findAll { option -> option != null && option.toString().trim() }
                        .join(' ')
                }
                beforeScript = {
                    def tempRoot = (task.attempt as int) == 1
                        ? '${SHM_TMPDIR:-${LOCAL_TMPDIR:-${SHARED_SSD_TMPDIR:-${SHARED_TMPDIR:-/tmp}}}}'
                        : '${LOCAL_TMPDIR:-${SHARED_SSD_TMPDIR:-${SHARED_TMPDIR:-/tmp}}}'
                    def cacheDir = (params.apptainer_cache_dir ?: params.singularity_cache_dir ?: params.gwdg_default_container_cache_dir).toString()

                    [
                        'module load apptainer',
                        "temp_root=\"${tempRoot}\"",
                        "container_cache=\"${cacheDir}\"",
                        'mkdir -p "${container_cache}"',
                        'export TMPDIR="${temp_root}"',
                        'export TMP="${temp_root}"',
                        'export TEMP="${temp_root}"',
                        'export TEMPDIR="${temp_root}"',
                        'export APPTAINER_CACHEDIR="${container_cache}"',
                        'export SINGULARITY_CACHEDIR="${container_cache}"',
                        'export APPTAINER_TMPDIR="${temp_root}"',
                        'export SINGULARITY_TMPDIR="${temp_root}"',
                        'export APPTAINERENV_TMPDIR="${temp_root}"',
                        'export SINGULARITYENV_TMPDIR="${temp_root}"',
                        'export APPTAINERENV_TMP="${temp_root}"',
                        'export SINGULARITYENV_TMP="${temp_root}"',
                        'export APPTAINERENV_APPTAINER_TMPDIR="${temp_root}"',
                        'export SINGULARITYENV_SINGULARITY_TMPDIR="${temp_root}"',
                        'export APPTAINERENV_APPTAINER_CACHEDIR="${container_cache}"',
                        'export APPTAINERENV_SINGULARITY_CACHEDIR="${container_cache}"',
                        'export SINGULARITYENV_APPTAINER_CACHEDIR="${container_cache}"',
                        'export SINGULARITYENV_SINGULARITY_CACHEDIR="${container_cache}"',
                        "export http_proxy=\"${params.gwdg_proxy_url}\"",
                        "export https_proxy=\"${params.gwdg_proxy_url}\"",
                        "export ftp_proxy=\"${params.gwdg_proxy_url}\"",
                        "export HTTP_PROXY=\"${params.gwdg_proxy_url}\"",
                        "export HTTPS_PROXY=\"${params.gwdg_proxy_url}\"",
                        "export FTP_PROXY=\"${params.gwdg_proxy_url}\"",
                        "export APPTAINERENV_http_proxy=\"${params.gwdg_proxy_url}\"",
                        "export APPTAINERENV_https_proxy=\"${params.gwdg_proxy_url}\"",
                        "export APPTAINERENV_ftp_proxy=\"${params.gwdg_proxy_url}\"",
                        "export APPTAINERENV_HTTP_PROXY=\"${params.gwdg_proxy_url}\"",
                        "export APPTAINERENV_HTTPS_PROXY=\"${params.gwdg_proxy_url}\"",
                        "export APPTAINERENV_FTP_PROXY=\"${params.gwdg_proxy_url}\"",
                        "export SINGULARITYENV_http_proxy=\"${params.gwdg_proxy_url}\"",
                        "export SINGULARITYENV_https_proxy=\"${params.gwdg_proxy_url}\"",
                        "export SINGULARITYENV_ftp_proxy=\"${params.gwdg_proxy_url}\"",
                        "export SINGULARITYENV_HTTP_PROXY=\"${params.gwdg_proxy_url}\"",
                        "export SINGULARITYENV_HTTPS_PROXY=\"${params.gwdg_proxy_url}\"",
                        "export SINGULARITYENV_FTP_PROXY=\"${params.gwdg_proxy_url}\"",
                    ].join('\n')
                }
            }
        }
    }
}
