params {
    config_profile_description = 'The GWDG SCC HPC profile with SLURM, Singularity, and SHM-first temporary storage.'
    config_profile_contact     = 'GWDG SCC user profile'
    config_profile_url         = 'https://docs.hpc.gwdg.de/how_to_use/storage_systems/temporary_storage/index.html'
    max_memory                 = 2.TB
    max_cpus                   = 96
    max_time                   = 48.h
    queue_short                = 'scc-cpu'
    queue_standard             = 'scc-cpu'
    queue_highmem              = 'scc-cpu'
}

process {
    executor = 'slurm'
    queue = params.queue_standard
    clusterOptions = ['--export=ALL', '-C ssd', params.slurm_cluster_options ?: null]
        .findAll { it != null }
        .join(' ')
    resourceLimits = [
        memory: 2.TB,
        cpus: 96,
        time: 48.h,
    ]
    containerOptions = params.singularity_run_options ?: ''
    scratch = '$LOCAL_TMPDIR'
    stageOutMode = 'copy'
    beforeScript = {
        def tempRoot = task.attempt == 1
            ? '${SHM_TMPDIR:-${LOCAL_TMPDIR:-${SHARED_SSD_TMPDIR:-${SHARED_TMPDIR:-/tmp}}}}'
            : '${LOCAL_TMPDIR:-${SHARED_SSD_TMPDIR:-${SHARED_TMPDIR:-/tmp}}}'
        [
            'module load apptainer',
            "temp_root=\"${tempRoot}\"",
            'export TMPDIR="${temp_root}"',
            'export TMP="${temp_root}"',
            'export TEMP="${temp_root}"',
            'export TEMPDIR="${temp_root}"',
            'export APPTAINERENV_TMPDIR="${temp_root}"',
            'export SINGULARITYENV_TMPDIR="${temp_root}"',
            'export APPTAINERENV_TMP="${temp_root}"',
            'export SINGULARITYENV_TMP="${temp_root}"',
        ].join('\n')
    }
}

executor {
    queueSize = params.executor_queue_size ?: 2000
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = params.singularity_cache_dir ?: '/projects/scc/MPG/MBMM/scc_mbmm_harder_/dir.project/Softwares/nfx_singularity_cache'
    pullTimeout = '4h'
}

docker {
    enabled = false
}
