includeConfig "${projectDir}/external/nf-helper/conf/sites/marmic.config"

profiles {
    marmic {
        process {
            withLabel: assembly {
                cpus = { Math.min(60 * task.attempt, params.max_cpus as int) }
                memory = { [1000.GB * task.attempt, params.resource_memory_limit()].min() }
                time = { [48.h * task.attempt, params.resource_time_limit()].min() }
            }
        }

        trace {
            enabled = true
            file = 'trace.tsv'
            overwrite = true
            fields = 'process,tag,status,cpus,memory,time,duration,rchar,wchar,read_bytes,write_bytes,workdir,scratch'
        }

        report {
            enabled = true
            file = 'report.html'
            overwrite = true
        }

        timeline {
            enabled = true
            file = 'timeline.html'
            overwrite = true
        }
    }
}
