includeConfig "${projectDir}/external/nf-helper/conf/sites/oist.config"

profiles {
    oist {
        process {
            withName: 'COMEBIN_GPU|VAMB_GPU|LORBIN_GPU' {
                queue = { params.queue_gpu ?: params.queue_standard }
            }

            withName: 'VALIDATE_TAXA|BLOBTOOLS' {
                queue = { params.queue_short }
            }

            withName: 'SINGLEM|METABAT|COMEBIN|VAMB|LORBIN|SEMIBIN|ROSELLA|DASTOOL|BINETTE' {
                queue = { task.attempt == 1 ? params.queue_short : params.queue_standard }
            }

            withName: 'METASPADES|METAFLYE_NANO|METAFLYE_PACBIO|MYLOASM|DIAMOND' {
                queue  = { task.attempt < 3 ? params.queue_standard : params.queue_highmem }
                cpus   = { task.attempt < 3 ? Math.min( 128, params.max_cpus as int ) : Math.min( 36, params.max_cpus as int ) }
                time   = { task.attempt < 3 ? [ 96.h, params.resource_time_limit() ].min() : [ 336.h, params.resource_time_limit() ].min() }
            }

            withName: 'METASPADES|METAFLYE_NANO|METAFLYE_PACBIO|MYLOASM' {
                memory = { task.attempt < 3 ? [ 500.GB, params.resource_memory_limit() ].min() : [ 750.GB, params.resource_memory_limit() ].min() }
            }
        }
    }
}
